<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/scrolling-nav.css' %}">
</head>
<body id='page-top'>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">AILaunch Lab Challenge</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Problem Statement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#data">Input data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#result">Results</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to Virtual Medical Assistant</h1>
      <p class="lead">An AILaunch Lab challenge</p>
    </div>
  </header>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Virtual Medical Assistant objectives</h2>
          <p class="lead">Physicians are pressured to spend less direct time with their patients, because of admistrative
              tasks and complex healthcare systems. This leads to issues of trust, misdiagnosis and unavailability of medical care. Virtual Medical Assistant aims to remove the bureaucratic burden from physicians and help them focus on medical care
              and the human interaction with their patients.</p>
          <ul>
            <li>Extract valuable medical information from a conversation between doctor and patient.</li>
            <li>Fill out medical forms with patient information.</li>
            <li>Ensure there is no loss of information during doctor-patient interaction.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="data" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Input data</h2>
          <p class="lead">We expect an mp4 file: </p>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </section>
  <section id="result">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Get Results</h2>
          {% block retrievebutton %}{% endblock %}
          {% block medData %}{% endblock %}
          <!--<p class="lead"> Fill up later </p>
          {% load static %}
          {% block graph %}{% endblock %} -->
        </div>
      </div>
    </div>
  </section>
  <!--<div class="col-sm-10 "></div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Concordia University 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  {% load static %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>
</body>
</html>
